*{
	max-width: 1100px;
	width: 90% vw;
	justify-content: center;
	margin: auto;
}

.flex-container {
    display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.flex-child {
    width: 100%;
   max-width: 30%;
   border: 1px solid red;
   margin: 5px;
} 
a.btn {
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px ;
}
.container-fluid{    
    
   text-align: center;
   justify-content: center;
}
a.btn-first {
    background-color: darkgoldenrod;
    color: #fff;
}
a.btn-second {
    background: transparent;
    border: 1px solid darkgoldenrod;
    color: #333;
}
 .container {
   text-align: center;
   justify-content: center;
} 
.one{
	background-color: rgb(48, 88, 7);  
}
.two{
	background-color:  antiquewhite;
}
.four{
	background-color: darkgray;
}
.table{
	column-gap: 15px;
	column-rule-style: none;
	border-style: hidden;
}
.year {
    width: 30%;
    float: left;
    text-align: center;
    margin: auto;
    padding: auto;
    background-color: coral;
    height: 100px;
    vertical-align: middle;
}
.degree {
    width: 70%;
    float: right;
    text-align: center;
    margin: auto;
    padding: auto;
    height: 100px;
}

@media screen and (max-width: 800px){
	.year {
		float: none;
		height: 25vw;;
		width: 80vw;;
	}
	.degree{
		float: none;
	}
	.textarea {
		resize: horizontal;
		overflow: auto;
	}
}